<?xml version="1.0"?>
<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%coloredLevel %logger{15} - %message%n%xException{5}</pattern>
    </encoder>
  </appender>
  <logger name="edu.washington.cs.knowitall" level="WARN"/>
  <logger name="lucene" level="WARN"/>
  <logger name="edu.washington.cs.knowitall.browser.lucene" level="WARN"/>
  <root level="ERROR">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
</configuration>
